.footer{
  background-color: $color-secondary;
  grid-column: full-start/full-end;
  padding: 9rem 2rem;
}
.nav_list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  list-style: none;
  grid-gap: 2rem;
  
  // align-items: center;
  justify-items: center;
}

.nav_item{
  // align-self:center;
  // justify-self: center;
}

.nav_link:link,.nav_link:visited{
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  display: inline-block;
  // width: 150%;
  padding: 1.5rem 2rem;
  transition: background-color .3s;
  text-align: center;
  font-family: $font-display;
  text-transform: uppercase;
}
.nav_link:hover,.nav_link:active{
  background-color: rgba(#fff,.2);
}

.copyright{
  width: 80%;
  margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 1.4rem;
  color: $color-grey-light-2;
}